:root {
    --fuentePrincipal: 'Mochiy Pop P One', sans-serif;
}

body {
    width: 100%;
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 2.5em;
    margin: 3rem 0;
}

.centrar {
    display: flex;
    justify-content: center;
}

.f-g {
    background-color: grey;
}

.input {
    width: 500px;
    height: 140px;
    background: rgb(34, 140, 195);
    background: linear-gradient(0deg, rgba(34, 140, 195, 0.5998774509803921) 0%, rgba(45, 238, 253, 0.5970763305322129) 100%);
    border-radius: 10px;
    align-items: center;
    padding: .5rem;
}



.input input {
    width: 450px;
    margin: auto;
    border-radius: 5px;
    font-size: 1em;
}

.enviar {
    display: flex;
    justify-content: space-between;
}

.enviar span {
    margin: auto 2rem;
}


button {
    margin: 10px 0 20px 20px;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

button:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

button:active {
    position: relative;
    top: 1px;
}

.fecha {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

#fecha, #hora {
    margin: .1rem 1rem;
}

.tareas {
    align-items: center;
    flex-direction: column;
}

.tarea {
    /* background-color: grey; */

    border-radius: 10px;
    width: 500px;
    height: auto;
    min-height: 90px;
    margin: 1rem;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarea-azul {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.tarea-verde {
    background: rgb(137, 195, 34);
    background: linear-gradient(0deg, rgba(137, 195, 34, 0.41477731229210435) 0%, rgba(87, 253, 45, 0.9245812338607318) 100%);
}

.tarea p {
    margin: .4rem 0 1rem .4rem;
    line-height: 30px;
}

.inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hora_fecha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
}

.hora_fecha span {
    font-size: .7rem;
    margin: 0 0.2rem;

}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 0;


}

.botones div {
    margin: 0 3px;
    /* background-color: rgb(73, 71, 71); */
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    /* background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%); */
    /* background-color: #33bdef; */
    border-radius: 6px;
    border: 1px solid #057fd0;
    /* display: inline-block; */

}

.boton_azul {
    /* background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef; */
}

.boton_verde {
    /* background: rgb(137, 195, 34); */
    /* background: linear-gradient(0deg, rgba(137, 195, 34, 0.41477731229210435) 0%, rgba(87, 253, 45, 0.9245812338607318) 100%); */
}

.botones div span {
    font-size: 2rem;
    cursor: pointer;

}



.borrar {
    color: red;

}

.editar {
    color: green;
}

.completado {
    color: #ed00f1;
}